@font-face {
   font-family: "inter";
   src: url(./assets/fonts/inter/Inter-Regular.ttf);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "inter" !important;
}

html {
   font-size: 10px;
}

body {
   font-size: 1.6rem;
}
